#map {
  height: 400px;
}
.leaflet-draw-toolbar .leaflet-draw-draw-water {
  background-position: -62px -2px;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-water {
  background-position: -60px -1px;
}
.leaflet-draw-toolbar a{
  position: relative;
}
.leaflet-draw-draw-rectangle,
.leaflet-draw-draw-marker{background-color: #333 !important;border-bottom: 0 !important;color: #FFF !important;}
.leaflet-draw-toolbar a:nth-child(3){
  background: none;
  border-bottom: 0;
}

.leaflet-draw-draw-marker:before,
.leaflet-draw-draw-rectangle,
.leaflet-draw-toolbar a:nth-child(3):before{
  content: "\f1b9";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  position: absolute;
  left: 7px;
  top: 2px;
  color: #FFF;
}
.leaflet-draw-draw-marker:before{
  content: "\f041";
  left: 10px;
  top: 2px;
}
.leaflet-draw-draw-rectangle:before{
  content: "\f018";
  left: 7px;
  top: 2px;
}
.leaflet-bar a:first-child{
  left: 0;
}
.image-upload > input
{
    display: none;
    cursor: pointer;
}
img{
  width:30px;height:30px;margin-right: 5px;
}

#color-palette {
  clear: both;
}
.color-button {
  width: 20px;
  height: 20px;
  font-size: 0;
  margin: 2px;
  float: left;
  cursor: pointer;
}